{% extends 'base.html' %}
{% block content %}
{% load static %}


<div id="wrapper">
	<div id="three-column" class="container">
  		<div class="title">
			<span class="byline"><p>DSC NTOU 是台灣海洋大學的 Developer Student Clubs</p><p>致力於學習並且推廣 coding、open source、以及 Google 的開發工具和技術</p></span>
			<br>
			<h2>行為準則</h2>
			<br>
			<span class="byline">
				<p>參加者不可有騷擾言行。大會不容忍任何的騷擾或歧視。無分國籍、種族、語言、性別、性取向、年齡、身心狀況、信仰、職業、資歷、政治傾向、智力，每一位參加者都應該獲得同樣的尊重。</p>
				<p>彼此欣賞。每位參加者都應該抱持專業的態度與行為。DSC 的參與者來自不同的專業分工、技術背景與應用領域。我們以非常多樣的方式參與及貢獻於 DSC。任何貶低社群中其它成員的言行都是不適當的。</p>
				<p>體貼他人。任何形式的性暗示，都不適於大會中的任何場合。這些場合包含但不限於演講、開放空間，社群媒體。請避免源自刻板印象的言行。</p>
				<p>DSC 核心團隊有權調整任何違反此準則的行為。僅需根據核心團隊的裁決，違反準則者可能必須離開 DSC 社群，並不得要求補償。本行為準則由 DSC NTOU 核心團隊認可執行。</p>
			</span>
		</div>
	</div>
</div>

{% endblock %}
