{% extends 'base.html' %}
{% block content %}
{% load static %}
<div id="header-wrapper"></div>
<div id="wrapper">
	<div id="three-column" class="container">
		<div class="title">
			<h2>海洋大學 學生開發者社群</h2>
			<span class="byline"></span>
		</div>
		<div class="boxA">
			<span class="fa fa-cloud-download"></span>
			<p></p>
			<a href="#" class="button button-alt">More Info</a>
		</div>
		<div class="boxB">
			<span class="fa fa-cogs"></span>
			<p></p>
			<a href="#" class="button button-alt">More Info</a>
		</div>
		<div class="boxC">
			<span class="fa fa-wrench"></span>
			<p></p>
			<a href="#" class="button button-alt">More Info</a>
		</div>
	</div>
</div>
{% endblock %}
